//Colors
$green: #6fad71;
$blue: #9cd7f3;

.signup-page {
	margin: 150px auto;
}

input[type=email], [type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signup-container {
	border-color: black;
	border: solid;
	border-radius: 15px;
	margin:auto;
	max-width: 500px;
	text-align: center;
}

.signup-form-container {
	margin: auto;
	padding: 50px;
}

.signup-button {
	box-sizing: border-box;
	width: 300px;
	appearance: none;
	background-color: transparent;
	border: 2px solid $green;
	border-radius: 0.6em;
	color: $green;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1;
	margin:  50px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

	&:hover {
		box-shadow: 0 0 40px 40px $green inset;
		color: #fff;
		outline: 0;
	}
}

p {
	padding: 10px 0 10px 0;
}

p a:link,
a:visited {
	text-decoration: none;
}
p a:hover,
a:visited:hover {
	color: blue;
	text-decoration: underline;
}
