//Colors
$green: #6fad71;
$blue: #9cd7f3;

//Start Page
.start-container {
	margin-top: 100px;
	text-align: center;
}

.start-container h1 {
	margin: 50px;
	text-align: center;
	font-family: 'Chelsea Market', cursive;
}

.start-container h5 {
	margin: 50px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.start-button {
	display: block;
	width: 300px;
	background-color: transparent;
	border: 3px solid $green;
	border-radius: 0.6em;
	color: $green;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1;
	margin: 50px auto;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

	&:hover {
		box-shadow: 0 0 40px 40px $green inset;
		color: #fff;
		outline: 0;
	}
}

// Carbon Footprint Calculator

.calculator-container {
	margin-top: 100px;
}

.calculator-container h1 {
	text-align: center;
}

.calculator-container h5 {
	text-align: right;
	margin: 0 100px;
}

.question-text {
	color: black;
	text-align: center;
	max-width: 500px;
	margin: 40px auto;
	font-size: 20px;
}

.question-description {
	text-align: center;
	max-width: 500px;
	margin: auto;
}

.response-section {
	text-align: center;
	margin: 60px auto;
	
}

.response-button {
	display: block;
	// box-sizing: border-box;
	width: 300px;
	// appearance: none;
	background-color: transparent;
	border: 3px solid $green;
	border-radius: 0.6em;
	color: $green;
	cursor: pointer;
	// display: flex;
	// align-self: center;
	font-size: 1rem;
	line-height: 1;
	margin: 10px auto;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	// text-trasform: uppercase;
	font-weight: 700;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

	&:hover {
		box-shadow: 0 0 40px 40px $green inset;
		color: #fff;
		outline: 0;
	}
}

//Results Page
.results-container {
	margin-top: 100px;
	text-align: center;
}

.results-button {
	display: block;
	width: 300px;
	background-color: transparent;
	border: 3px solid $green;
	border-radius: 0.6em;
	color: $green;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1;
	margin: 50px auto;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

	&:hover {
		box-shadow: 0 0 40px 40px $green inset;
		color: #fff;
		outline: 0;
	}
}
