//Colors
$green: #6fad71;
$blue: #9cd7f3;

.container {
	max-width: 1200px;
}

.home {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1rem;
	margin: 100px 0 0 0;
	padding: 1rem;
	align-content: center;
	justify-items: center;
	padding-bottom: 5rem;
	height: 100vh;
}

.home-image {
	grid-row: 1;
	grid-column: 2;
	align-content: center;
	justify-items: center;
}

.home-image img {
	width: 600px;
}

.tag-line-container {
	grid-row: 1;
	grid-column: 1;
	display: grid;
	font-family: 'Chelsea Market', cursive;
	align-content: center;
	justify-items: center;
	width: 30vw;
}

.tag-line {
	font-size: 40px;
	align-self: center;
	margin: 0;
}

.home-button-container {
	grid-column: 1 / span 2;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.home-button-container a {
	width: 300px;
	margin: auto 50px;
	text-align: center;
}
.home-button {
	box-sizing: border-box;
	width: 350px;
	appearance: none;
	background-color: transparent;
	border: 2px solid $green;
	border-radius: 0.6em;
	color: $green;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1;
	margin:  50px 10px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

	&:hover {
		box-shadow: 0 0 40px 40px $green inset;
		color: #fff;
		outline: 0;
	}
}
ul {
	list-style-type: none;
}

.section-container {
	display: grid;
	max-width: 1200px;
	margin-bottom: 100px;
	height: auto;
	
}

.section-container h3 {
	max-width: 1200px;
	font-family: 'Chelsea Market', cursive;
	margin-top: 35px;
	margin-bottom: 10px;
}

.section-container h5 {
	max-width: 1200px;
	font-family: 'Source Sans Pro', sans-serif;
}

/* Add Media Queries Here */
@media only screen and (max-width: 700px) {
	body {
		font-size: 1em;
	}

	.home {
		display: grid;
		grid-template-columns: 1fr;
		padding: 1em;
		grid-row-gap: 100px;
	}

	.tag-line {
		font-size: 20px;
		align-self: center;
		margin: 0;
	}

	.home-image img {
		object-fit: scale-down;
		margin: auto;
	}

	.home-button {
		width: fit-content;
		font-size: 0.5rem;
		line-height: 1;
		margin: 5px;
		padding: 1.2em 2.8em;
	}
}
