//Colors
$green: #6fad71;
$blue: #9cd7f3;

.container {
	max-width: 1200px;
	text-align: center;
}

.container h2 {
	margin-bottom: 20px;
	font-family: 'Chelsea Market', cursive;
}

.resources {
	margin: 100px 0;
}

.book-section-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	align-content: center;
	justify-items: center;
	padding-bottom: 5rem;
	text-align: left;
}

.book-section-container {
	margin: 0 0 10px 0;
}

.book-description {
	align-self: center;
	justify-items: center;
}

.book-section-container img {
	width: 200px;
	height: 300px;
}

.book-section-title {
	margin: 0 0 10px 0;
}
.title-container {
	margin: 50px;
}
.resources h1 {
	display: block;
	text-align: center;
	font-family: 'Chelsea Market', cursive;
}

.resources-video {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.documentary-section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.react-player {
	margin-bottom: 20px;
}

.podcast-description {
	text-align: left;
	margin: 0 0 15px 0;
}

.book-section-description {
font-family: 'Source Sans Pro', sans-serif;
margin: 0 0 10px 0;
}

.podcast-title {
	margin: 0 0 15px 0;
}