header {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	align-items: center; 
	color: black;
}

header nav a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0.5rem 1rem 1rem;
	transition: all 300ms ease;
	font-family: 'Source Sans Pro', sans-serif;
}

header nav a:hover {
	background-color: #ddd;
	text-decoration: underline;
}

header h1 a:hover {
	text-decoration: none;
}

header h1 {
	margin: 0;
	padding: 0.5rem;
	color: black;
	font-family: 'Chelsea Market', cursive;
}

 a {
	text-decoration: none;
}

.profile-img {
	width:22px;
	height: auto;
}